.loginContainer {
  display: flex;
  justify-content: center;
}

.formPart {
  width: 60vw;
}

.formContainer {
  width: 550px;
}

.loginLabel {
  font-size: 1.6em;
  font-weight: 500;
  color: #6ac045;
  margin-bottom: 36px;
  padding: 0;
  margin: 0 0 40px 0;
}

.formFieldContainer {
  margin-bottom: 24px;
}

.formFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}

.formFooterLinks {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.formFooterLink {
  text-decoration: none;
  color: #6ac045;
}

.formFooterLink:hover {
  transition: 0.5s;
  color: #85dd72;
}
