.container {
  display: flex;
  justify-content: center;
}

.innerContainer {
  width: 60vw;
}

.formContainer {
  width: 100%;
}

.formLabel {
  font-size: 1.65em;
  font-weight: 500;
  color: #6ac045;
  margin-bottom: 36px;
  padding: 0;
  margin: 0 0 40px 0;
}

.formFields {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4%;
}

.formFieldContainer {
  width: 48.8%;
  margin-bottom: 24px;
}

.formInput {
  width: 100%;
}

.errorMessageContainer {
  display: flex;
  justify-content: right;
}

.formFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}

.formFooterLink {
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #6ac045;
}

.formFooterLink:hover {
  transition: 0.5s;
  color: #85dd72;
}
