.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descriptionHeader {
  font-size: 2.7em;
  font-weight: 700;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  letter-spacing: 0.02em;
  margin: 0 0 20px 0;
}

.descriptionText {
  font-size: 0.95em;
  color: #ccc;
  width: 690px;
  letter-spacing: -0.02em;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.labelSmall {
  font-size: 14px;
  font-weight: 600;
  color: #5a5a5a;
}

/* popular artists */

.popularArtistsBackground {
  width: 100%;
  background: linear-gradient(to bottom, transparent, #1d1d1d);
  display: flex;
  justify-content: center;
}

.popularArtistsContainer {
  display: flex;
  flex-direction: column;
  width: 1100px;
  padding: 32px 0 40px;
}

.popularArtistsHeader {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  row-gap: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 8px 12px;
}

.popularArtistsTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.popularArtistsText {
  font-size: 18px;
  color: #fff;
}

.popularArtistsTextIcon {
  font-size: 20px;
  color: #6ac045;
}

.popularArtistsMoreContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.popularArtistsMore {
  font-size: 18px;
  font-weight: 700;
  color: #428bca;
  transition: 0.3s;
}

.popularArtistsMore:hover {
  font-size: 18px;
  font-weight: 700;
  color: #3273ac;
  cursor: pointer;
}

.popularArtistsMoreIcon {
  width: 20px;
  height: 20px;
}

.popularArtistsContentContainer {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.popularArtistsContent {
  margin-top: 8px;
  width: 1100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.popularArtistsCardContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.popularArtistsCardLabelLink {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
}

.popularArtistsCardLabel {
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
}

.popularArtistsCardLabelLink:hover > .popularArtistsCardLabel {
  color: #919191;
}

/* popular albums */

.popularAlbumsBackground {
  width: 100%;
  background-color: #171717;
  display: flex;
  justify-content: center;
}

.popularAlbumsContainer {
  display: flex;
  flex-direction: column;
  width: 1100px;
  padding: 32px 0;
}

.popularAlbumsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popularAlbumsText {
  font-size: 18px;
  color: #fff;
}

.popularAlbumsBrowseAll {
  font-size: 0.9em;
  color: #829191;
  cursor: pointer;
  transition: 0.5s;
}

.popularAlbumsBrowseAll:hover {
  color: #f1ffff;
}

.popularAlbumsContentContainer {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.popularAlbumsContent {
  margin-top: 16px;
  width: 1100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  row-gap: 20px;
}

.popularAlbumsCardContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.popularAlbumsCardLabelLink {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
  margin-top: 3px;
}

.popularAlbumsCardLabel {
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
}

.popularAlbumsCardLabelLink:hover > .popularAlbumsCardLabel {
  color: #919191;
}

/* popular songs */

.popularSongsBackground {
  width: 100%;
  background-color: #1d1d1d;
  display: flex;
  justify-content: center;
}

.popularSongsContainer {
  display: flex;
  flex-direction: column;
  width: 1100px;
  padding: 32px 0 48px;
}

.popularSongsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popularSongsText {
  font-size: 18px;
  color: #fff;
}

.popularSongsBrowseAll {
  font-size: 0.9em;
  color: #829191;
  cursor: pointer;
  transition: 0.5s;
}

.popularSongsBrowseAll:hover {
  color: #f1ffff;
}

.popularSongsContentContainer {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.popularSongsContent {
  margin-top: 16px;
  width: 1100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: 16px;
  row-gap: 16px;
}

.popularSongsCardContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.popularSongsCardLink {
  text-decoration: none;
}
