.button {
  background-color: #559b37;
  width: 60px;
  height: 40px;
  font-size: 1em;
  font-weight: 600;
  color: #f6fdfe;
  border: none;
  border-radius: 4px;
  padding: 8px;
}

.button:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: #48832f;
}
