@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Arimo", Arial, Helvetica, "Lucida Grande", sans-serif;
  letter-spacing: -0.03em;
  background-color: #171717;
  font-size: 0.85em;
  color: #f1ffff;
}
